* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://wallpaperaccess.com/full/2305398.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#page-content {
    background-image: url("https://st.depositphotos.com/1000504/5010/i/600/depositphotos_50103125-stock-photo-wooden-cutting-board.jpg");
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    padding: 30px;
    border-radius: 60px;

}

#body-title {
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#first-recipe, #second-recipe, #third-recipe {
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}

#recipe-list {
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
}